body{
margin: 0;
width: 100%;
height: 100%;
}

header{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
background-color: darkgray;
}

h2{
color: white;
}

nav ul li{
color: white;
display: flexbox;
flex-direction: row;

}

.top-container{
display: flex;
background-color: black;
color:yellow;
align-items: center;
}

.three-boxes{
display: flex;
height: 200px;

}

.two-boxes{
display: flex;
height: 200px;
}

.text-image{
display: flex;
height:200px;
}
img{

}

p{

}

.footer{
background-color: darkgray;
}